@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con opacidad del 30% */
    pointer-events: none; /* Permite hacer clic a través de la capa */
    z-index: -2; /* Establece una posición de apilamiento por debajo del contenido */
}


/* Estilos para el contenedor del logo */
.logo-container {
    margin-top: 0.2em;
    position: absolute; /* Establece posición absoluta para el contenedor del logo */
    top: 0; /* Coloca el contenedor en la parte superior del encabezado */
    left: 80%; /* Coloca el contenedor en el centro horizontal del encabezado */
    transform: translateX(-50%); /* Centra horizontalmente el contenedor */
    z-index: 2; /* Establece una posición de apilamiento superior para el logo */

}

/* Estilos para el logo */
.logo {
    max-width: 4em; /* Establece el ancho máximo del logo */
    height: auto; /* Mantiene la proporción de aspecto */
    
}
header {
    background-color: #252b27;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añade posición relativa al encabezado */
    z-index: 1; /* Establece una posición de apilamiento para el encabezado */
    box-shadow: 0px 4px 10px rgba(74, 190, 103, 0.2); /* Agregar sombra en la parte inferior */
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}
.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #1c2523;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(97, 218, 81, 0.2);
}
.nav-links.active {
    display: flex;
}

.nav-links li {  
    padding: 10px 30px; /* Añadimos espacio alrededor del texto */

}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #1c2523;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }
}

/*diseño del contenido*/
.content{
margin-top: 40em;
}



/*estilos del la cuadricula de los productor --------------->*/

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la cuadrícula de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 productos por fila en pantallas grandes */
    gap: 20px;
    margin-top: 2rem;
}

/* Estilos para la cuadrícula de productos en teléfonos */
@media screen and (max-width: 767px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 productos por fila en teléfonos */
    }
}

/* Estilos para los recuadros de productos */
.product {
    background-color: #dadada;
    border: 3px solid #000000;    
    padding: 10px; /* Reduce el padding para hacer los recuadros más pequeños */
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    max-width: 100%; 
    box-shadow: 0px 4px 10px rgba(255, 209, 209, 0.2);
    /* Limita el ancho máximo de los recuadros */
}

.product:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}
.product-info{
    max-height: 100%;
    
}
.price {
    font-weight: bold;
    color: #333;
}

.description {
    color: #666;
    font-size: 14px;
    margin-top: 10px;
}

/* css de la pantalla de contacto ------------------->

/* Estilos para los logotipos de redes sociales */
/* Estilos para el título */
.titulo-contacto {
    margin-top: 40px;
    color: #fafbfd;
    display: flex;
    margin-left: 2em;
    overflow: hidden; /* Oculta el texto excedente */
    white-space: nowrap; /* Evita el salto de línea */
    animation: typing 3s steps(35, end), blink-caret 0.8s step-end infinite;
}

/* Animación de escritura */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Estilos para los íconos de redes sociales */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 3em;
}

.instagram-icon{
    width: 54px;
    height: 54px;
    transform: scale(0.5); /* Empieza pequeño */
    opacity: 0;
    animation: zoomIn 0.5s forwards; /* Animación de zoom */
    animation-delay: 1.5s;
}

.youtube-icon{
    width: 60px;
    height: 44px;
    transform: scale(0.5); /* Empieza pequeño */
    opacity: 0;
    animation: zoomIn 0.5s forwards; /* Animación de zoom */
    animation-delay: 1.5s;
}

.twitch-icon {
    width: 48px;
    height: 56px;
    transform: scale(0.5); /* Empieza pequeño */
    opacity: 0;
    animation: zoomIn 0.5s forwards; /* Animación de zoom */
    animation-delay: 1.5s;
    
}

/* Animación de zoom */
@keyframes zoomIn {
    from {
        transform: scale(0.2); /* Empieza pequeño */
        opacity: 0;
    }
    to {
        transform: scale(1); /* Termina a tamaño normal */
        opacity: 1;
    }
}

/*seccion textox inicio-------------------------->*/

.first-section {
    opacity: 0; /* Establece la opacidad en cero para ocultarla inicialmente */
    animation: fadeIn 2s ease-in-out forwards; /* Animación para el efecto fade-in */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Al final de la animación, la opacidad será 1 */
    }
}

.fade-in-section {
    opacity: 0; /* Establece la opacidad en cero para ocultarlas inicialmente */
    transition: opacity 1s ease-in-out; /* Controla la velocidad de la transición */

    /* Otros estilos según sea necesario */
}

.fade-in {
    opacity: 1; /* Al agregar la clase "fade-in", la opacidad será 1 */
}


.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 150%;
}
/* Estilos para el modo responsivo (pantallas más pequeñas) */
@media screen and (max-width: 768px) {
    .banner img {
        transform: scale(1.5); /* Aplica un aumento de escala del 120% */
        transform-origin: center center; /* Establece el punto de transformación en el centro */
        transition: transform 0.5s ease-in-out; /* Agrega una transición suave */
    }
}

.titulo-inicio{
    color: #fafbfd;
}

.youtubeFondo{

    background-color:  #1c1c1c;
    box-shadow: 0px 6px 8px rgba(255, 255, 255, 0.2);
}